* {
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
}

body {
  /* width: 1440px; */
  margin: 0;
}

nav {
  display: flex;
  height: 188px;
  background: white;
  align-items: center;
}

header {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

header .header_logo {
  text-decoration: none;
  color: #2f2e2e;
  font-weight: 600;
  font-size: 40px;
}

header .header_link {
  color: #2f2e2e;
  text-decoration: none;
  font-size: 20px;
}

header .header_search {
  width: 25px;
  height: 21.48px;
}

.solution {
  position: relative;
  height: 564px;
}

.solution_img {
  display: flex;
  float: right;
  width: 878px;
}

.solution_box {
  position: relative;
}

.whitebg {
  position: absolute;
  margin: 0;
  top: 91px;
  height: 389px;
  width: 617px;
  background: linear-gradient(91.1deg, rgba(244, 246, 245, 0.9) -7.89%, rgba(255, 255, 255, 0.9) 132.55%);
}

.solution_text {
  position: absolute;
  top: 125px;
  left: 123px;
  font-weight: 600;
  font-size: 50px;
  color: #2f2e2e;
}

.solution_subtext {
  position: absolute;
  bottom: -433px;
  left: 123px;
  font-weight: 600;
  font-size: 30px;
  color: #2f2e2e;
}

.our_services {
  /* position: relative; */
  margin: 0;
  min-height: 384px;
  background: rgba(37, 77, 77, 0.2);
  text-align: center;
}

.our_services .our_services_text_main {
  color: #2f2e2e;
  padding-top: 35px;
}
/* .our_services_text {
  text-align: center;
  margin: 0 auto;
} */

.our_services_box {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.our_services_pl,
.our_services_in,
.our_services_ex {
  width: 103px;
  height: 103px;
}

.about_us {
  min-width: 647px;
  margin: 0;
}

.about_us_box {
  display: flex;
  justify-content: space-around;
}

.about_us_box_img {
  padding: 76px 0 0 100px;
  position: relative;
}

.about_us_img {
  width: 735px;
  height: 571px;
}

.about_us_box_text {
  padding: 141px 0 0 78px;
  position: relative;
}

.about_us_box_text_descr {
  font-size: 68px;
}

.about_us_box_text_subdescr {
  font-size: 25px;
}

.about_us_box_text_link {
  text-decoration: none;
  color: #2f2e2e;
  font-weight: 600;
  font-size: 24px;
}

.our_projects {
  height: 917px;
  margin: 0;
  padding-top: 95px;
}

.our_projects_link {
  padding-left: 119px;
  color: #2f2e2e;
  text-decoration: none;
  font-weight: 600;
  font-size: 51px;
}

.our_projects_link_a,
.our_projects_link_f,
.our_projects_link_d,
.our_projects_link_h {
  color: #2f2e2e;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}
